<a href="https://colab.research.google.com/github/SunYutongAmber/portfolio/blob/main/Problem%20Set2/code/Query_CryptoPunks_TimeSeries_Data_yutong_sun.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

References: https://github.com/blockchain-etl/ethereum-etl

# Part I: Install and Import Required Dependancies

In [2]:
# install ethereum-etl and pandas
!python -m pip install ethereum-etl pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: ethereum-etl in /usr/local/lib/python3.8/dist-packages (2.1.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil<3,>=2.8.0 in /usr/local/lib/python3.8/dist-packages (from ethereum-etl) (2.8.2)
Requirement already satisfied: click==8.0.4 in /usr/local/lib/python3.8/dist-packages (from ethereum-etl) (8.0.4)
Requirement already satisfied: ethereum-dasm==0.1.4 in /usr/local/lib/python3.8/dist-packages (from ethereum-etl) (0.1.4)
Requirement already satisfied: eth-abi==2.1.1 in /usr/local/lib/python3.8/dist-packages (from ethereum-etl) (2.1.1)
Requirement already satisfied: base58 in /usr/local/lib/python3.8/dist-packages (from ethereum-etl) (2.1.1)
Requirement already satisfied: web3<6,>=5.29 in /usr/local/lib/python3.8/dist-packages (from ethereum-etl) (5.31.2)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from ethereum-etl) (2.23.0)
Requirement already satisfied: eth-utils==1.10 in /usr/local/lib/python3.8/dist-packages (from ethereum-etl) (1.10.0)
Requirement already satisfied: parsimonious<0.9.0,>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from eth-abi==2.1.1->ethereum-etl) (0.8.1)
Requirement already satisfied: eth-typing<3.0.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from eth-abi==2.1.1->ethereum-etl) (2.3.0)
Requirement already satisfied: cytoolz<1.0.0,>=0.10.1 in /usr/local/lib/python3.8/dist-packages (from eth-utils==1.10->ethereum-etl) (0.12.0)
Requirement already satisfied: eth-hash<0.4.0,>=0.3.1 in /usr/local/lib/python3.8/dist-packages (from eth-utils==1.10->ethereum-etl) (0.3.3)
Requirement already satisfied: tabulate in /usr/local/lib/python3.8/dist-packages (from ethereum-dasm==0.1.4->ethereum-etl) (0.8.10)
Requirement already satisfied: evmdasm in /usr/local/lib/python3.8/dist-packages (from ethereum-dasm==0.1.4->ethereum-etl) (0.1.10)
Requirement already satisfied: colorama in /usr/local/lib/python3.8/dist-packages (from ethereum-dasm==0.1.4->ethereum-etl) (0.4.6)
Requirement already satisfied: toolz>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from cytoolz<1.0.0,>=0.10.1->eth-utils==1.10->ethereum-etl) (0.12.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.8/dist-packages (from parsimonious<0.9.0,>=0.8.0->eth-abi==2.1.1->ethereum-etl) (1.15.0)
Requirement already satisfied: eth-account<0.6.0,>=0.5.9 in /usr/local/lib/python3.8/dist-packages (from web3<6,>=5.29->ethereum-etl) (0.5.9)
Requirement already satisfied: jsonschema<5,>=3.2.0 in /usr/local/lib/python3.8/dist-packages (from web3<6,>=5.29->ethereum-etl) (4.3.3)
Requirement already satisfied: aiohttp<4,>=3.7.4.post0 in /usr/local/lib/python3.8/dist-packages (from web3<6,>=5.29->ethereum-etl) (3.8.3)
Requirement already satisfied: eth-rlp<0.3 in /usr/local/lib/python3.8/dist-packages (from web3<6,>=5.29->ethereum-etl) (0.2.1)
Requirement already satisfied: protobuf==3.19.5 in /usr/local/lib/python3.8/dist-packages (from web3<6,>=5.29->ethereum-etl) (3.19.5)
Requirement already satisfied: ipfshttpclient==0.8.0a2 in /usr/local/lib/python3.8/dist-packages (from web3<6,>=5.29->ethereum-etl) (0.8.0a2)
Requirement already satisfied: hexbytes<1.0.0,>=0.1.0 in /usr/local/lib/python3.8/dist-packages (from web3<6,>=5.29->ethereum-etl) (0.3.0)
Requirement already satisfied: lru-dict<2.0.0,>=1.1.6 in /usr/local/lib/python3.8/dist-packages (from web3<6,>=5.29->ethereum-etl) (1.1.8)
Requirement already satisfied: websockets<10,>=9.1 in /usr/local/lib/python3.8/dist-packages (from web3<6,>=5.29->ethereum-etl) (9.1)
Requirement already satisfied: multiaddr>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from ipfshttpclient==0.8.0a2->web3<6,>=5.29->ethereum-etl) (0.0.9)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.8/dist-packages (from aiohttp<4,>=3.7.4.post0->web3<6,>=5.29->ethereum-etl) (1.3.1)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from aiohttp<4,>=3.7.4.post0->web3<6,>=5.29->ethereum-etl) (1.3.3)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp<4,>=3.7.4.post0->web3<6,>=5.29->ethereum-etl) (1.8.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp<4,>=3.7.4.post0->web3<6,>=5.29->ethereum-etl) (22.1.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.8/dist-packages (from aiohttp<4,>=3.7.4.post0->web3<6,>=5.29->ethereum-etl) (4.0.2)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.8/dist-packages (from aiohttp<4,>=3.7.4.post0->web3<6,>=5.29->ethereum-etl) (6.0.2)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp<4,>=3.7.4.post0->web3<6,>=5.29->ethereum-etl) (2.1.1)
Requirement already satisfied: bitarray<3,>=1.2.1 in /usr/local/lib/python3.8/dist-packages (from eth-account<0.6.0,>=0.5.9->web3<6,>=5.29->ethereum-etl) (2.6.0)
Requirement already satisfied: rlp<3,>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from eth-account<0.6.0,>=0.5.9->web3<6,>=5.29->ethereum-etl) (2.0.1)
Requirement already satisfied: eth-keyfile<0.6.0,>=0.5.0 in /usr/local/lib/python3.8/dist-packages (from eth-account<0.6.0,>=0.5.9->web3<6,>=5.29->ethereum-etl) (0.5.1)
Requirement already satisfied: eth-keys<0.4.0,>=0.3.4 in /usr/local/lib/python3.8/dist-packages (from eth-account<0.6.0,>=0.5.9->web3<6,>=5.29->ethereum-etl) (0.3.4)
Requirement already satisfied: pycryptodome<4,>=3.6.6 in /usr/local/lib/python3.8/dist-packages (from eth-hash<0.4.0,>=0.3.1->eth-utils==1.10->ethereum-etl) (3.16.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema<5,>=3.2.0->web3<6,>=5.29->ethereum-etl) (0.19.2)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema<5,>=3.2.0->web3<6,>=5.29->ethereum-etl) (5.10.0)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.8/dist-packages (from importlib-resources>=1.4.0->jsonschema<5,>=3.2.0->web3<6,>=5.29->ethereum-etl) (3.10.0)
Requirement already satisfied: netaddr in /usr/local/lib/python3.8/dist-packages (from multiaddr>=0.0.7->ipfshttpclient==0.8.0a2->web3<6,>=5.29->ethereum-etl) (0.8.0)
Requirement already satisfied: varint in /usr/local/lib/python3.8/dist-packages (from multiaddr>=0.0.7->ipfshttpclient==0.8.0a2->web3<6,>=5.29->ethereum-etl) (1.0.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->ethereum-etl) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->ethereum-etl) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->ethereum-etl) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->ethereum-etl) (3.0.4)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)

In [19]:
# import libraries to print data frame
import pandas as pd
import os
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import glob
import os
import random
from tqdm import tqdm
import cv2 as cv
import PIL
from PIL import Image
!pip install plotly
import plotly.express as px
from IPython import display

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: plotly in /usr/local/lib/python3.8/dist-packages (5.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from plotly) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly) (8.1.0)

# Part II: Mount Google Drive for Result Exports

In [31]:
# mount google drive
from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [32]:
# print the current directory
!pwd

/content

In [33]:

#@title path
#create a project folder and identify the path
path = "/content/drive/MyDrive/txn_history-2021-10-07" #@param {type:"string"}

In [34]:
#go to your project folder 
%cd /content/drive/MyDrive/txn_history-2021-10-07

[Errno 2] No such file or directory: '/content/drive/MyDrive/txn_history-2021-10-07'
/content

In [35]:
# print the current directory again to make sure that you are in the project folder
!pwd

/content

# Part III: Query Data and Export CSV

Cryptopunks Data Query

In [61]:
df_cryptopunks = pd.read_json('/content/drive/MyDrive/txn_history-2021-10-07.jsonl', lines=True)

In [62]:
df_cryptopunks

,txn_type,from,to,date,timestamp,source,eth,punk_id,from_wallet_address,to_wallet_address,type,accessories
0,Bid Withdrawn,0xe73a1d,,2021-09-04,2021-09-04,larvalabs,321.00,0,None,None,[Female],"[Green Eye Shadow, Earring, Blonde Bob]"
1,Bid,0xe73a1d,,2021-09-01,2021-09-01,larvalabs,321.00,0,None,None,[Female],"[Green Eye Shadow, Earring, Blonde Bob]"
2,Bid Withdrawn,0x2e5e22,,2021-09-01,2021-09-01,larvalabs,320.00,0,None,None,[Female],"[Green Eye Shadow, Earring, Blonde Bob]"
3,Bid,0x2e5e22,,2021-09-01,2021-09-01,larvalabs,320.00,0,None,None,[Female],"[Green Eye Shadow, Earring, Blonde Bob]"
4,Bid Withdrawn,0x2e5e22,,2021-09-01,2021-09-01,larvalabs,263.00,0,None,None,[Female],"[Green Eye Shadow, Earring, Blonde Bob]"
...,...,...,...,...,...,...,...,...,...,...,...,...
167487,Bid,0xa0a59c,,2017-07-03,2017-07-03,larvalabs,0.25,9999,None,None,[Female],"[Mohawk, Nerd Glasses]"
167488,Bid,0x717403,,2017-06-26,2017-06-26,larvalabs,0.20,9999,None,None,[Female],"[Mohawk, Nerd Glasses]"
167489,Bid,ddaavvee,,2017-06-23,2017-06-23,larvalabs,0.20,9999,None,None,[Female],"[Mohawk, Nerd Glasses]"
167490,Bid,0x5b098b,,2017-06-23,2017-06-23,larvalabs,0.15,9999,None,None,[Female],"[Mohawk, Nerd Glasses]"
167491,Claimed,,0x7e2d1c,2017-06-23,2017-06-23,larvalabs,NaN,9999,None,None,[Female],"[Mohawk, Nerd Glasses]"

In [63]:
df_cryptopunks['txn_type'].value_counts()

Offered            65467
Bid                26808
Sold               18979
Bid Withdrawn      16342
Transfer           14225
Offer Withdrawn    10372
Claimed            10000
(Wrap)              2773
(Unwrap)            2526
Name: txn_type, dtype: int64

I am only interested in Punks sales and Punks transfers, I'll filter this dataset for sell and transfer data.

In [64]:
#df_cryptopunks['date'] = pd.to_datetime(df_cryptopunks['date']).dt.date
#start_date = startdate = pd.to_datetime('2020-12-30').date()

df_cryptopunks = df_alt.loc[(df_cryptopunks['txn_type'] == 'Sold') | (df_alt['txn_type'] == 'Transfer')].copy()
#df_alt = df_alt.loc[df_alt['date'] > start_date].copy()

In [65]:
df_cryptopunks

,txn_type,from,to,date,timestamp,source,eth,punk_id,from_wallet_address,to_wallet_address,type,accessories
22,Sold,0xf5099e,0xe08c32,2018-11-30,2018-11-30,larvalabs,25.00,0,None,None,[Female],"[Green Eye Shadow, Earring, Blonde Bob]"
29,Transfer,0xa0a59c,0xf5099e,2017-07-07,2017-07-07,larvalabs,NaN,0,None,None,[Female],"[Green Eye Shadow, Earring, Blonde Bob]"
30,Sold,0x00d7c9,0xa0a59c,2017-07-07,2017-07-07,larvalabs,1.60,0,None,None,[Female],"[Green Eye Shadow, Earring, Blonde Bob]"
37,Sold,0xc352b5,0x00d7c9,2017-06-23,2017-06-23,larvalabs,0.98,0,None,None,[Female],"[Green Eye Shadow, Earring, Blonde Bob]"
51,Transfer,0xcf6165,0xb88f61,2020-11-30,2020-11-30,larvalabs,NaN,1,None,None,[Male],"[Smile, Mohawk]"
...,...,...,...,...,...,...,...,...,...,...,...,...
167398,Transfer,TJ2010,0x0b87ca,2020-09-22,2020-09-22,larvalabs,NaN,9997,None,None,[Zombie],"[Front Beard, Cap Forward]"
167414,Sold,0xcfd9cc,0xef764b…,2021-08-11,2021-08-11,larvalabs,110.00,9998,None,None,[Female],"[Wild White Hair, Black Lipstick, Clown Eyes G..."
167433,Sold,TokenAng…,0xcfd9cc,2021-03-03,2021-03-03,larvalabs,38.00,9998,None,None,[Female],"[Wild White Hair, Black Lipstick, Clown Eyes G..."
167437,Sold,cyberpnk…,TokenAng…,2020-12-27,2020-12-27,larvalabs,15.00,9998,None,None,[Female],"[Wild White Hair, Black Lipstick, Clown Eyes G..."
167457,Transfer,0x7e2d1c,punk9999…,2017-07-19,2017-07-19,larvalabs,NaN,9999,None,None,[Female],"[Mohawk, Nerd Glasses]"

In [66]:
df_cryptopunks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33204 entries, 22 to 167457
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   txn_type             33204 non-null  object
 1   from                 33204 non-null  object
 2   to                   33204 non-null  object
 3   date                 33204 non-null  object
 4   timestamp            33204 non-null  datetime64[ns]
 5   source               33204 non-null  object
 6   eth                  18979 non-null  float64
 7   punk_id              33204 non-null  int64
 8   from_wallet_address  57 non-null     object
 9   to_wallet_address    57 non-null     object
 10  type                 33204 non-null  object
 11  accessories          33204 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(9)
memory usage: 3.3+ MB

In [67]:
print('The earliest transaction date in the dataset is: ')
print(df_cryptopunks.date.min())

print('\n\nThe latest transaction date in the dataset is: ')
print(df_cryptopunks.date.max())

The earliest transaction date in the dataset is:
2017-06-23


The latest transaction date in the dataset is:
2021-10-07

In [68]:
df_cryptopunks.describe(include='all', datetime_is_numeric=True)

,txn_type,from,to,date,timestamp,source,eth,punk_id,from_wallet_address,to_wallet_address,type,accessories
count,33204,33204,33204,33204,33204,33204,18979.000000,33204.000000,57,57,33204,33204
unique,2,4289,6518,1257,NaN,2,NaN,NaN,47,22,5,6053
top,Sold,Hemba,0x577ebc,2021-08-28,NaN,larvalabs,NaN,NaN,0x8fa20dcc712bd224b54bc1cdfd30a37349f8df2a,,[Male],"[Stringy Hair, Front Beard Dark]"
freq,18979,1244,764,594,NaN,32461,NaN,NaN,3,34,21907,48
mean,NaN,NaN,NaN,NaN,2020-10-03 03:17:27.257378560,NaN,29.386728,5295.921094,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,2017-06-23 00:00:00,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,2020-09-15 00:00:00,NaN,1.500000,2948.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,2021-02-22 00:00:00,NaN,15.400000,5356.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,2021-06-21 00:00:00,NaN,33.000000,7693.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,2021-10-07 17:37:42,NaN,4200.000000,9999.000000,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,69.642424,2768.022396,NaN,NaN,NaN,NaN

In [91]:
df_cryptopunks_sorted = df_cryptopunks.groupby("timestamp").agg({'eth':'mean'})
df_cryptopunks_sorted = df_cryptopunks_sorted.reset_index(drop=False)

# Part IV: Save the Necessary Queried Data

## 4.2. Keep only the variables needed

In [92]:
df_cryptopunks_sorted

               timestamp         eth
0    2017-06-23 00:00:00    0.154500
1    2017-06-24 00:00:00    0.194091
2    2017-06-25 00:00:00    0.138462
3    2017-06-26 00:00:00    0.135556
4    2017-06-27 00:00:00    0.222222
...                  ...         ...
1750 2021-10-07 10:50:08         NaN
1751 2021-10-07 11:28:11  120.000000
1752 2021-10-07 14:33:08  117.990000
1753 2021-10-07 17:31:26         NaN
1754 2021-10-07 17:37:42         NaN

[1755 rows x 2 columns]

## Check data information and adjust if necessary

In [93]:
df_cryptopunks_selected.dtypes

timestamp    datetime64[ns]
eth                 float64
dtype: object

In [94]:
df_cryptopunks_selected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33204 entries, 22 to 167457
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  33204 non-null  datetime64[ns]
 1   eth        18979 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 778.2 KB

In [98]:
df_cryptopunks_sorted.to_csv("queried_cryptopunks_data.csv")

## 4.3. Data Storage Solutions

### 4.3.1. Save Directly to GitHub

### 4.3.2. Keep the Data in Google Drive Folder and Proceed to Data Processing and Analyzing

### 4.3.3 Save the Data as a Kaggle Dataset and then Import from Kaggle

*instructions*: 

https://www.analyticsvidhya.com/blog/2021/06/how-to-load-kaggle-datasets-directly-into-google-colab/

### 4.3.4 Save the Data as a .pkl file to reduce size and save on Github

In [99]:
df_cryptopunks_sorted.to_pickle('queried_data.pkl')

Notes: 


*   You can't directly import the data from GitHub. You must import from a (Google drive) project folder which is the current working directory
*   The Python version that generated the .pkl file might need to be the same as the Python for data importing

In [100]:
df_cryptopunks_sorted =pd.read_pickle('queried_data.pkl')
df_cryptopunks_sorted.head()

   timestamp       eth
0 2017-06-23  0.154500
1 2017-06-24  0.194091
2 2017-06-25  0.138462
3 2017-06-26  0.135556
4 2017-06-27  0.222222